In [2]:
pip install pymysql sqlalchemy

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Requirement already satisfied: sqlalchemy in c:\users\welcome\anaconda3\lib\site-packages (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\welcome\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Note: you may need to restart the kernel to use updated packages.

In [9]:
import pandas as pd
from sqlalchemy import create_engine

df = pd.read_csv('expensedata.csv')

df.rename(columns={'Income/Expense': 'Income_Expense'}, inplace=True)

username = 'root'
password = 'MentalNaKodukka!'
host = 'localhost'
database = 'ExpenseTrackerDB'

engine = create_engine(f'mysql+pymysql://{username}:{password}@{host}/{database}')

Empty DataFrame
Columns: [Category, TotalExpense]
Index: []

In [12]:
df_all = pd.read_sql_query("SELECT * FROM expenses_table LIMIT 10;", engine)
print(df_all)

   ID                Date               Account        Category  \
0  11 2022-03-02 10:11:00  CUB - online payment            Food
1  12 2022-03-02 10:11:00  CUB - online payment           Other
2  13 2022-03-01 19:50:00  CUB - online payment            Food
3  14 2022-03-01 18:56:00  CUB - online payment  Transportation
4  15 2022-03-01 18:22:00  CUB - online payment            Food
5  16 2022-03-01 18:22:00  CUB - online payment           Other
6  17 2022-03-01 18:21:00  CUB - online payment           Other
7  18 2022-02-28 11:56:00  CUB - online payment            Food
8  19 2022-02-28 11:45:00  CUB - online payment           Other
9  20 2022-02-27 15:29:00  CUB - online payment            Food

               Note     INR Income_Expense Currency
0           Brownie   50.00        Expense      INR
1  To lended people  300.00        Expense      INR
2            Dinner   78.00        Expense      INR
3             Metro   30.00        Expense      INR
4            Snacks   67.00        Expense      INR
5        From vicky  100.00         Income      INR
6          From dad  500.00         Income      INR
7             Pizza  339.15        Expense      INR
8       From kumara  200.00         Income      INR
9             Lunch  243.00        Expense      INR

In [19]:
query = """
SELECT 
    Category,
    SUM(INR) AS TotalExpense
FROM 
    expenses_table
WHERE 
    DATE_FORMAT(Date, '%%Y-%%m') = '2022-03'
GROUP BY 
    Category
ORDER BY 
    TotalExpense DESC;
"""

df2 = pd.read_sql_query(query, engine)
print(df2)

         Category  TotalExpense
0           Other        2700.0
1            Food         585.0
2  Transportation          90.0